* {
    margin: 0;
    padding: 0;
}

html {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
}

body {

}

.container {
    width: auto;
}

.form, .row {

    margin: 0;
    padding: 0;
}

.form {
    padding: 10px;
}

.btn {
    width: 120px;
}

.toHide {
    display: none;
}


